.contact {
  background-color: #2E2E2E;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  background-color: #444;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  align-items: center; /* S'assure que les éléments sont alignés au centre verticalement */
}

.contact-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contact-right {
  width: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  width: 100%;
}

.contact-title {
  color: whitesmoke;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-family: "Lilita One", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.contact-input, .contact-textarea {
  margin-top: 15px;
  padding: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  width: 100%;
  background-color: #f0f0f0;
}

.contact-textarea {
  height: 150px;
}

.contact-btn {
  margin-top: 20px;
  background-color: #464d47;
  border: none;
  color: white;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-btn:hover {
  background-color: #5a625a;
}

.success-message {
  color: #4CAF50;
  margin-top: 10px;
}

.error-message {
  color: #F44336;
  margin-top: 10px;
}

/* --- Responsivité --- */
@media (max-width: 1024px) {
  .contact-container {
    padding: 30px;
  }

  .contact-left {
    width: 55%; /* Réduction du formulaire pour les écrans moyens */
  }

  .contact-right {
    width: 45%; /* Réduction de la sphère pour équilibrer la taille */
  }

  .contact-title {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .contact-left {
    width: 60%; /* Le formulaire prend plus de place sur des écrans plus petits */
  }

  .contact-right {
    width: 40%; /* La sphère reste à 40% */
  }

  .contact-title {
    font-size: 1.8rem;
  }

  .contact-input, .contact-textarea {
    font-size: 0.9rem;
    padding: 12px;
  }

  .contact-btn {
    font-size: 1rem;
    padding: 10px;
  }

  .contact-right {
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .contact-left {
    width: 100%; /* Le formulaire prend toute la largeur, mais reste à gauche */
  }

  .contact-right {
    display: none; /* Cache la sphère sur les très petits écrans pour éviter l'encombrement */
  }

  .contact-title {
    font-size: 1.5rem;
  }

  .contact-input, .contact-textarea {
    font-size: 0.8rem;
    padding: 10px;
  }

  .contact-btn {
    font-size: 0.9rem;
    padding: 8px;
  }
}
